.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: row gap 2em;
}
 .buttons
  {
      display: flex;
      flex-direction: column;
      
      
    
    
}
#p
{
    color: red;
}



    

